<div class="main">
  <header class="header">
      <div class="inner">
        <div class="nav">
          <%= link_to "AlanuiPua", root_path ,class:"title" %> 
            <% if user_signed_in? %>
              <div class="nav__right">
                <%= link_to "My page", user_path(current_user.id),class: :nav__btn %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete ,class: :nav__btn %> 
                <%= link_to "New Pua", new_post_path, class: :nav__btn %>
              </div>
            <% else %>
              <div class="nav__right">
                <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
                <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
              </div>
            <% end %>
          </div>
      </div>
    </header>
    <div class="form__wrapper">
    <div class="inner">
      <h2 class="page-heading">Sign up</h2>
      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field">
          <%= f.label :nickname, "Nick name" %><br />
          <%= f.text_field :nickname,class: :nickname_field %>
        </div>

        <div class="field">
          <%= f.label :email, "E-mail" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email",class: :sign_field %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, placeholder:"6 characters or more",autocomplete: "new-password",class: :sign_field %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password",class: :sign_field %>
        </div>



        <div class="actions">
          <%= f.submit "新規登録", class: :form__btn  %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
