<main class="main">
  <header class="header">
      <div class="inner">
        <div class="nav">
          <%= link_to "AlanuiPua", root_path ,class:"title" %> 
            <% if user_signed_in? %>
              <div class="nav__right">
                <%= link_to "My page", user_path(current_user.id),class: :nav__btn %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete ,class: :nav__btn %> 
                <%= link_to "New Pua", new_post_path, class: :nav__btn %>
              </div>
            <% else %>
              <div class="nav__right">
                <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
                <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
              </div>
            <% end %>
          </div>
      </div>
    </header>
    <div class="inner">
    <div class="menu__btn"><%= link_to '一覧', posts_path %></div>
        <% if current_user.posts.present? %>
          <div class="user_show_name">~ <%= @nickname %> ~<br>My pua</div>
        <% end %>
        <div class="post__wrapper">
        <%= render partial: 'posts/post', collection: @posts %>
      </div>
      <% if @like_list.present? %>
      <div class="user_like_list">お気に入り</div>
      <div class="post__wrapper">
      <%= render partial: 'posts/post', collection: @like_list %>
      </div >
      <% end %>
    </div>
  </div>
</main>
