<main class="post_index_main">
  <header class="header">
      <div class="inner">
        <div class="nav">
          <%= link_to "AlanuiPua", root_path ,class:"title" %> 
            <% if user_signed_in? %>
              <div class="nav__right">
                <%= link_to "My page", user_path(current_user.id),class: :nav__btn %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete ,class: :nav__btn %> 
                <%= link_to "New Pua", new_post_path, class: :nav__btn %>
              </div>
            <% else %>
              <div class="nav__right">
                <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
                <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
              </div>
            <% end %>
          </div>
      </div>
    </header>
  <div class="inner">
    <div class="index_top">
      <div class="current_user">
       <% if user_signed_in? %>
      <div class="current_user_text">- <%= current_user.nickname %> -</div>
      <% end %>
      </div>
      <div class="page-heading">Pua</div>
    </div>
      <div class="post__wrapper">
        <%= render partial: 'post', collection: @posts %>
      </div>
  </div>
</main>
