<main class="main">
  <div class="inner">
    <div class="menu">
      <%= link_to '戻る', :back ,class: :menu__btn%>
    <% if current_user == @post.user %>
        <%= link_to "編集",edit_post_path ,class: :menu__btn %>
        <%= link_to "削除",post_path , method: :delete ,class: :delete__btn%>
    <% end %>
  </div>
  
    <h4 class="title__show"><%= @post.title %></h4>
    <div class='post-img-content'>  
      <%= image_tag @post.image,class:"post-box-img" if @post.image.attached? %>
    </div>
    <div class="note2">
      <div class="sen2">
        <p class="post_text"><%= @post.text %></p>
      </div>
      <div class="post_user_name">
        <a href="/users/<%= @post.user.id %>" , class="user_name">
          <%= @post.user.nickname %>
        </a>
      </div>
    </div>
    <%#= link_to @post.category.name, "#", class: :category_name %> 
  </div>
</main>
