<main class="main">
<header class="header">
      <div class="inner">
        <div class="nav">
          <%= link_to "AlanuiPua", root_path ,class:"title" %> 
            <% if user_signed_in? %>
              <div class="nav__right">
                <%= link_to "My page", user_path(current_user.id),class: :nav__btn %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete ,class: :nav__btn %> 
                <%= link_to "New Pua", new_post_path, class: :nav__btn %>
              </div>
            <% else %>
              <div class="nav__right">
                <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
                <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
              </div>
            <% end %>
          </div>
      </div>
    </header>
  <div class="inner">
    <div class="menu">
    <%= link_to '一覧', posts_path ,class: :menu__btn%>
  <% if user_signed_in? %>
    <% if current_user == @post.user %>
        <%= link_to "編集",edit_post_path ,class: :menu__btn %>
        <%= link_to "削除",post_path , method: :delete ,class: :delete__btn%>
    <% end %>
  <% end %>
  </div>
  
    <h4 class="title__show"><%= @post.title %></h4>
    <div class='post-img-content'>  
      <%= image_tag @post.image,class:"post-box-img" if @post.image.attached? %>
    </div>
    <div class="note2">
      <div class="sen2">
        <p class="post_text"><%= @post.text %></p>
      </div>
      <div class="post_user_name">
        <a href="/users/<%= @post.user.id %>" , class="user_name">
          <%= @post.user.nickname %>
        </a>
      </div>
    </div>
    <div class="like_bud_box">
      <%= render partial: 'likes/like', locals: { post: @post} %>
      <%= render partial: 'buds/bud', locals: { post: @post} %>
    </div>
    <% unless @post.likes.count == 0%>
        <div class="like_count"><span class="like_count_font">お気に入り数 : </span><%= @post.likes.count %></div>
      <% end %>
  </div>
    <% if @post.buds.count >= 5 %>
      <div class='close'>
        <span>Close</span>
      </div>
    <% end %>
</main>
