<main class="main">
  <div class="inner">
    <div class="menu">
    <input type="button" onclick="history.back()" class="menu__btn" value="戻る">
  <% if user_signed_in? %>
    <% if current_user == @post.user %>
        <%= link_to "編集",edit_post_path ,class: :menu__btn %>
        <%= link_to "削除",post_path , method: :delete ,class: :delete__btn%>
    <% end %>
  </div>
  
    <h4 class="title__show"><%= @post.title %></h4>
    <div class='post-img-content'>  
      <%= image_tag @post.image,class:"post-box-img" if @post.image.attached? %>
    </div>
    <div class="note2">
      <div class="sen2">
        <p class="post_text"><%= @post.text %></p>
      </div>
      <div class="post_user_name">
        <a href="/users/<%= @post.user.id %>" , class="user_name">
          <%= @post.user.nickname %>
        </a>
      </div>
    </div>
          
      <%= render partial: 'likes/like', locals: { post: @post} %>
      <div class="bud_box">
        <% unless @post.buds.count >= 5 %>
        <% if current_user.budded_by?(@post.id) %>
          <td><%= link_to 'budを外す', post_bud_path(@post), method: :DELETE, class: :bud_btn %></td>
        <% else %>
          <%= link_to 'budをつける', post_buds_path(@post), method: :GET, class: :bud_btn %>
        <% end %>
        <% end %>
      </div>
  <% end %>
  </div>
    <% if @post.buds.count >= 5 %>
      <div class='close'>
        <span>Close</span>
      </div>
    <% end %>
</main>
