 <header class="header">
      <div class="inner">
        <div class="nav">
          <%= link_to "AlanuiPua", root_path ,class:"title" %> 
            <% if user_signed_in? %>
              <div class="nav__right">
                <%= link_to "My page", user_path(current_user.id),class: :nav__btn %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete ,class: :nav__btn %> 
                <%= link_to "New Pua", new_post_path, class: :nav__btn %>
              </div>
            <% else %>
              <div class="nav__right">
                <%= link_to "ログイン", new_user_session_path, class: :nav__btn %>
                <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
              </div>
            <% end %>
          </div>
      </div>
    </header>
<div class="index__top">
  <div class="bud_rethink">
  <div class="modoru_btn"><%= link_to '戻る', :back,class: :bud_menu__btn%></div>
    <p class="bud_alert"><span class="alert_font" >本当にBudを押しますか？</span></p>

    <div class="five_alert"><span class="bud__alert">5つBudがつくと投稿がcloseします。<span></div>
      <div class="bud_note">
        <h5 class="note_text">悪口や誹謗中傷と感じる投稿でしたか？
        <br>
        よく考えてからBud評価を押しましょう。</h5>
      </div>

    <%= link_to 'budを押す', post_buds_path(@post), method: :POST ,class: :bud__btn%>
    <div class="bud_count"><span class="bud_count_font">この投稿のBud数 : </span><%= @post.buds.count %></div>
  </div>
</div>